/* Set the width of the top border

set different element of background

set the color purple on the bottom

set color black on the top

create a link

*/




#Header{ 
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	
}
#LeftNav{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	float: left;
	text-align: center;
	padding-bottom: 8px;
	

}
#Content{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border: solid 8px black;
	text-align: center;
	padding: 15px;
	
}
#Footer{
	width: 500px;
	border: solid 8px black;
    text-align: center;
   
}
ul{
	list-style-type: none;
	padding-left: 0px;
}
#Header h1{ 
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold; }

#Content p{
	color: white;
	font-size: 40px;
	font-family: "Passion One";
	margin-bottom: 0px;
}

div{
	background-color: #8E41D5;
}

body{
	background-image: URL("dark_wood.png");
}

a {color: white;
	font-weight: bold; 
	font-size: 24px;}


p {
    border-style: solid;
    border-top-width: 15px;
}

h1 {
    background-color: green;
}

div {
    background-color: blue;
}

p {
    background-color: yellow;
}

p {
    border-style: solid;
    border-bottom: thick dotted purple;
}
p {
    border-style: solid;
    border-top-color: black;
}

p {
    border-style: purple;
    border-left: yellow;
}

a:link, a:visited {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
